@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";

@theme {
  --font-anton: "Anton", system-ui, sans-serif;
  --color-primary-button: hsl(48, 15%, 94%);
  --color-primary-button-text: hsl(0, 0%, 9%);
  --color-secondary: hsl(40, 2%, 76%);
}

body {
  color: hsl(48, 15%, 94%);
  background-color: hsl(27, 33%, 6%);
}
